h2 {
    margin-bottom: 20px;
}

button{
    width: 100%;
    height: 50px;
    background-color: #4d3;
    border: 0;
    border-radius:  8px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: filter 0.2s ;
}

.content { 
    
    flex: 1;
    list-style: none;
    padding: 40px;
    display:  list-item;
    margin-bottom: 5px;
}

.content input {
    margin-bottom: 5px;
    border-radius: 2;
    width: 220px;
    padding: 10px;
    display: list-item
}